<div class="talabat-page">

  <!-- HEADER -->
  <div class="page-header">
    <mat-icon>local_shipping</mat-icon>
    <h2>{{ 'DELIVERIES.TITLE' | translate }}</h2>
    <span class="count">({{ filteredDeliveries?.length || 0 }})</span>
  </div>

  <!-- TABLE -->
  <div class="table-wrapper">

    <table mat-table [dataSource]="filteredDeliveries" class="talabat-table mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="ordersForDeliveryId">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.ID' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          <span  style="color:red" class="id">#{{ item.ordersForDeliveryId }}</span>
        </td>
      </ng-container>

      <!-- Order ID -->
      <ng-container matColumnDef="orderID">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.ORDER' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          <span style="color:red" class="order-id">#{{ item.order.orderID }}</span>
        </td>
      </ng-container>

      <!-- Comment -->
      <ng-container matColumnDef="comment">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.COMMENT' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          <button *ngIf="item.comment" style="color:red" mat-icon-button
                  [disabled]="!item.comment"
                  (click)="viewComment(item.comment)">
            <mat-icon>chat</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Branch -->
      <ng-container matColumnDef="branch">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.BRANCH' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          {{ item.order.branchName }}
        </td>
      </ng-container>

      <!-- Assigned At -->
      <ng-container matColumnDef="assignedAt">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.ASSIGNED' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          {{ item.assignedAt || '-' }}
        </td>
      </ng-container>

      <!-- Delivered At -->
      <ng-container matColumnDef="deliveredAt">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.DELIVERED' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          {{ item.deliveredAt || '-' }}
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.STATUS' | translate }}</th>
        <td mat-cell *matCellDef="let item">
          <span class="badge" [ngClass]="item.status">
            {{ item.status || ('DELIVERIES.PENDING' | translate) }}
          </span>
        </td>
      </ng-container>

      <!-- Driver -->
<ng-container matColumnDef="employee">
  <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>
    {{ 'DELIVERIES.DRIVER' | translate }}
  </th>
  <td mat-cell *matCellDef="let item">
    <button mat-button color="primary" (click)="swalDriver(item)">
      {{ 'DELIVERIES.VIEW_DRIVER' | translate }}
    </button>
  </td>
</ng-container>

<!-- Customer -->
<ng-container matColumnDef="customer">
  <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>
    {{ 'DELIVERIES.CUSTOMER' | translate }}
  </th>
  <td mat-cell *matCellDef="let item">
    <button mat-button color="accent" (click)="swalCustomer(item.order)">
      {{ 'DELIVERIES.VIEW_CUSTOMER' | translate }}
    </button>
  </td>
</ng-container>

<!-- Address -->
<ng-container matColumnDef="address">
  <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>
    {{ 'DELIVERIES.ADDRESS' | translate }}
  </th>
  <td mat-cell *matCellDef="let item">
    <button mat-button color="warn" (click)="swalAddress(item.deliveryAddress)">
      {{ 'DELIVERIES.VIEW_ADDRESS' | translate }}
    </button>
  </td>
</ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let item">

          <button class="edit-btn" *ngIf="item.status !== 'Delivered'"
                  mat-icon-button
                  (click)="assignDriver(item.order.orderID)">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="delete-btn" *ngIf="item.status !== 'Delivered'"
                  mat-icon-button
                  color="warn"
                  (click)="deleteOrderForDelivery(item.ordersForDeliveryId)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <!-- MARK DELIVERED -->
      <ng-container matColumnDef="markasdelivered">
        <th style="color:#ff5a00" mat-header-cell *matHeaderCellDef>{{ 'DELIVERIES.DONE' | translate }}</th>
        <td mat-cell *matCellDef="let item">

          <button *ngIf="item.status !== 'Delivered'"
                  mat-icon-button
                  color="accent"
                  (click)="markDelivered(item.ordersForDeliveryId)">
            <mat-icon>check_circle</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>
</div>