<div class="talabat-profit">

  <!-- HEADER -->
  <div class="page-header">
    <mat-icon>analytics</mat-icon>
    <h2>{{ 'PROFIT_DASHBOARD.TITLE' | translate }}</h2>
  </div>

  <!-- FILTERS CARD -->
  <div class="filter-card">

    <div class="filters">

      <div class="field">
        <label style="color:red" >{{ 'PROFIT_DASHBOARD.FROM' | translate }}</label>
        <input type="date" [(ngModel)]="fromDate">
      </div>

      <div class="field">
        <label style="color:red" >{{ 'PROFIT_DASHBOARD.TO' | translate }}</label>
        <input type="date" [(ngModel)]="toDate">
      </div>

      <div class="field">
        <label style="color:red" >{{ 'PROFIT_DASHBOARD.BRANCH' | translate }}</label>
        <select [(ngModel)]="branchID">
          <option *ngFor="let b of branches" [value]="b.branchID">
            {{ b.name }}
          </option>
        </select>
      </div>

    </div>

    <div class="actions">

      <button (click)="getBranchProfit()">
        {{ 'PROFIT_DASHBOARD.BRANCH_PROFIT_BUTTON' | translate }}
      </button>

      <button (click)="getAllBranchesProfit()">
        {{ 'PROFIT_DASHBOARD.ALL_BRANCHES_BUTTON' | translate }}
      </button>

    </div>

  </div>

  <!-- MAIN PROFIT CARD -->
  <div class="profit-card">
    <h3>{{ 'PROFIT_DASHBOARD.BRANCH_PROFIT' | translate }}</h3>

    <div class="profit-value">
      {{ branchProfit | number:'1.2-2' }}
      {{ 'PROFIT_DASHBOARD.CURRENCY' | translate }}
    </div>
  </div>

  <!-- TABLE -->
  <div class="table-card" *ngIf="allBranchesProfit.length > 0">

    <h3>{{ 'PROFIT_DASHBOARD.ALL_BRANCHES_PROFIT' | translate }}</h3>

    <table>

      <thead>
        <tr>
          <th>{{ 'PROFIT_DASHBOARD.TABLE_BRANCH' | translate }}</th>
          <th>{{ 'PROFIT_DASHBOARD.TABLE_PROFIT' | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of allBranchesProfit">

          <td>#{{ item.branchID }}</td>

          <td class="profit">
            {{ item.totalProfit | number:'1.2-2' }}
            {{ 'PROFIT_DASHBOARD.CURRENCY' | translate }}
          </td>

        </tr>
      </tbody>

    </table>

  </div>

</div>