<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<mat-sidenav-container
  class="mainWrapper blue_theme light-theme"
  autoFocus
  dir="ltr">

  <mat-sidenav-content
    #content
    class="contentWrapper"
    (scroll)="onScroll($event)">

    <main class="pageWrapper">

      <app-header></app-header>

      <div class="content-area">
        <router-outlet></router-outlet>
      </div>

    </main>

    <!-- Bottom Navigation -->
    <nav
      class="mobile-bottom-nav"
      [class.hide-nav]="hideBottomNav">

      @for (item of navItems; track item.route) {

        <a
          class="mobile-nav-item"
          [routerLink]="item.route"
          routerLinkActive="active">

          <i
            class="routeIcon"
            [class]="item.iconName">
          </i>

          <!-- <span>{{ item.displayName | translate }}</span> -->

        </a>

      }

    </nav>

  </mat-sidenav-content>

</mat-sidenav-container>