USE [master]
GO
/****** Object:  Database [Restaurant]    Script Date: 6/8/2026 6:59:36 PM ******/
CREATE DATABASE [Restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Restaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Restaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Street] [int] NULL,
	[City] [nvarchar](max) NULL,
	[Building] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[Appartment] [int] NOT NULL,
	[Details] [varchar](500) NULL,
 CONSTRAINT [PK_CustomerAddresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[Position] [nvarchar](max) NULL,
	[Salary] [decimal](10, 2) NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[Unit] [nvarchar](max) NULL,
	[MenuItemID] [int] NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuItemID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[sell_price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PublicId] [nvarchar](200) NULL,
	[CategoryID] [int] NOT NULL,
	[buy_price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MenuItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Name] [varchar](30) NULL,
	[Profit] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[BranchID] [int] NOT NULL,
	[AddressID] [int] NULL,
	[OrderDate] [datetime2](0) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[OrderPosition] [varchar](50) NULL,
	[TableNo] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[Comment] [nvarchar](255) NULL,
	[TotalProfit] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersForDeliverys]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersForDeliverys](
	[OrdersForDeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[AddressID] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
	[DeliveredAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersForDeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableNo] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[BranchID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/8/2026 6:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Verified] [bit] NOT NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251005074213_A', N'8.0.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251103111913_VerifiedToUsers', N'8.0.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251103122209_MakeEmployeeBranchNullable', N'8.0.19')
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [Name], [Location], [Phone]) VALUES (1, N'obour', N'golf city malll', N'01061285005')
INSERT [dbo].[Branches] ([BranchID], [Name], [Location], [Phone]) VALUES (2, N'city stars', N'nasr city', N'01047584558')
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (1, N'Appetizers')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (2, N'Main dishes')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (3, N'Soft Drinks')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerAddresses] ON 

INSERT [dbo].[CustomerAddresses] ([AddressID], [UserID], [Street], [City], [Building], [Floor], [Appartment], [Details]) VALUES (3, 2, 10, N'cairo', 1, 5, 3, N'ezay')
INSERT [dbo].[CustomerAddresses] ([AddressID], [UserID], [Street], [City], [Building], [Floor], [Appartment], [Details]) VALUES (4, 3, 0, N'cairo', 81, 1, 3, N'dar misr obour ')
INSERT [dbo].[CustomerAddresses] ([AddressID], [UserID], [Street], [City], [Building], [Floor], [Appartment], [Details]) VALUES (5, 31, 1, N'cairo', 81, 1, 3, N'dar misr')
SET IDENTITY_INSERT [dbo].[CustomerAddresses] OFF
GO
INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [IsAvailable]) VALUES (1, N'Developer', CAST(50.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [IsAvailable]) VALUES (1033, N'Cashier', CAST(5000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [IsAvailable]) VALUES (1035, N'Cashier', CAST(5000.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([InventoryID], [BranchID], [QuantityAvailable], [Unit], [MenuItemID]) VALUES (3, 1, 58, N'cup', 6)
INSERT [dbo].[Inventories] ([InventoryID], [BranchID], [QuantityAvailable], [Unit], [MenuItemID]) VALUES (4, 1, 47, N'cup', 7)
INSERT [dbo].[Inventories] ([InventoryID], [BranchID], [QuantityAvailable], [Unit], [MenuItemID]) VALUES (5, 1, 50, N'cup', 8)
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuItemID], [BranchID], [Name], [sell_price], [ImageUrl], [PublicId], [CategoryID], [buy_price]) VALUES (6, 1, N'pepsi', CAST(20.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/dixiryhwa/image/upload/v1780851507/Restaurant/qtdudtgxp81xcbi8osck.png', N'Restaurant/qtdudtgxp81xcbi8osck', 3, CAST(16.00 AS Decimal(10, 2)))
INSERT [dbo].[Menus] ([MenuItemID], [BranchID], [Name], [sell_price], [ImageUrl], [PublicId], [CategoryID], [buy_price]) VALUES (7, 1, N'Coca-Cola', CAST(30.00 AS Decimal(18, 2)), NULL, NULL, 3, CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Menus] ([MenuItemID], [BranchID], [Name], [sell_price], [ImageUrl], [PublicId], [CategoryID], [buy_price]) VALUES (8, 1, N'Sprite', CAST(30.00 AS Decimal(18, 2)), NULL, NULL, 3, CAST(25.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Role], [Title], [Message], [IsRead], [CreatedAt]) VALUES (1, 3, N'Client', N'System', N'Your Order Placed order ID #3144', 1, CAST(N'2026-05-23T18:01:53.1775434' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Role], [Title], [Message], [IsRead], [CreatedAt]) VALUES (2, 3, N'Client', N'System', N'Your Order Placed order ID #3145', 1, CAST(N'2026-05-23T19:10:43.1697191' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Role], [Title], [Message], [IsRead], [CreatedAt]) VALUES (3, 3, N'Client', N'System', N'Your Order Placed order ID #3146', 1, CAST(N'2026-05-23T19:21:36.9951738' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [Quantity], [Price], [Name], [Profit]) VALUES (4047, 2114, 6, 1, CAST(21.00 AS Decimal(18, 2)), N'Pepsi', CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [Quantity], [Price], [Name], [Profit]) VALUES (5028, 3104, 7, 1, CAST(30.00 AS Decimal(18, 2)), N'Coca-Cola', CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [Quantity], [Price], [Name], [Profit]) VALUES (5061, 3136, 6, 1, CAST(21.00 AS Decimal(18, 2)), N'Pepsi', CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [BranchID], [AddressID], [OrderDate], [TotalAmount], [OrderPosition], [TableNo], [Status], [Comment], [TotalProfit]) VALUES (2114, 2, 1, 3, CAST(N'2026-04-09T03:53:00.0000000' AS DateTime2), CAST(21.00 AS Decimal(18, 2)), N'Delivery', NULL, NULL, NULL, CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [BranchID], [AddressID], [OrderDate], [TotalAmount], [OrderPosition], [TableNo], [Status], [Comment], [TotalProfit]) VALUES (3104, 2, 1, 3, CAST(N'2026-04-10T00:22:00.0000000' AS DateTime2), CAST(30.00 AS Decimal(18, 2)), N'Delivery', NULL, NULL, NULL, CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [BranchID], [AddressID], [OrderDate], [TotalAmount], [OrderPosition], [TableNo], [Status], [Comment], [TotalProfit]) VALUES (3136, 2, 1, 3, CAST(N'2026-04-11T23:13:00.0000000' AS DateTime2), CAST(21.00 AS Decimal(18, 2)), N'Delivery', NULL, NULL, NULL, CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersForDeliverys] ON 

INSERT [dbo].[OrdersForDeliverys] ([OrdersForDeliveryId], [OrderId], [EmployeeId], [AddressID], [Comment], [Status], [AssignedAt], [DeliveredAt]) VALUES (5, 2114, 2039, 3, NULL, N'Delivered', CAST(N'2026-04-09T01:53:46.633' AS DateTime), CAST(N'2026-04-11T14:47:18.507' AS DateTime))
INSERT [dbo].[OrdersForDeliverys] ([OrdersForDeliveryId], [OrderId], [EmployeeId], [AddressID], [Comment], [Status], [AssignedAt], [DeliveredAt]) VALUES (1008, 3104, 2039, 3, NULL, N'Delivered', CAST(N'2026-04-09T22:22:42.643' AS DateTime), CAST(N'2026-04-11T20:01:51.043' AS DateTime))
INSERT [dbo].[OrdersForDeliverys] ([OrdersForDeliveryId], [OrderId], [EmployeeId], [AddressID], [Comment], [Status], [AssignedAt], [DeliveredAt]) VALUES (1031, 3136, 2039, 3, N'', N'Delivered', CAST(N'2026-04-11T21:13:22.690' AS DateTime), CAST(N'2026-04-11T21:17:23.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrdersForDeliverys] OFF
GO
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([TableID], [TableNo], [Capacity], [Status], [BranchID]) VALUES (2, 1, 7, 1, 1)
INSERT [dbo].[Tables] ([TableID], [TableNo], [Capacity], [Status], [BranchID]) VALUES (3, 2, 4, 0, 1)
INSERT [dbo].[Tables] ([TableID], [TableNo], [Capacity], [Status], [BranchID]) VALUES (4, 3, 4, 0, 1)
SET IDENTITY_INSERT [dbo].[Tables] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Email], [Phone], [PasswordHash], [PasswordSalt], [Role], [Verified], [BranchID]) VALUES (1, N'Developer', N'medo5915@hotmail.com', N'0106128502', 0xBDC7CEA2D20AAD795B9BEB068E5A6F77D1DC43D52BB01CE7D6792ADF1FD287F826A9905D10BF4B1826E5A3EA07DADCCBD9422025C3262295FC0A78D3D644EEBA, 0x5FCA92BB4F4D4F41A367A1374F6A5B56D4BF9025D689D06341EDE36A0FCC1F2065EFA46B0832909A93A31C75DA33A5F2A6ED0E7169623B09ACEAFAC49EE8637A8B1E09A8EF92B42BC18720434AA2C16FB833ACF0BEF2A910B1FCD93A411CBBA3990D58443A1E603055740521186EA817CC96816B78A28AC04A9DB45787622905, N'Employee', 0, 1)
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Phone], [PasswordHash], [PasswordSalt], [Role], [Verified], [BranchID]) VALUES (2, N'alis', N'medo5@hotmail.com', N'0106128502', 0xB49702DE257CF6D86E70D67E8A5F91AFFD938405B36D460A0B3F79D19AE2BA2D912C79512B67DC30E7D9988FE3939982B98F753407D42AD0406000A839EDA9A6, 0xB1BB5A724BF26BD6ADDF1394E180BB458898659F0E9CEFF2D0A3677E53817B16A5B6947B3CB205FB0249B6DAC6808D10C97C6FC94F1047403998A9A135310BABE367AFA9E1167FDD851005964FA57799677A37DECD03513612F65CD66E1EF716AF308C1A7CBA7980C8AD7103D1FF973BE4300B8FFFE94CD930208A14AAE8E834, N'Client', 1, 1)
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Phone], [PasswordHash], [PasswordSalt], [Role], [Verified], [BranchID]) VALUES (3, N'alix', N'medo5957@hotmail.com', N'01061285004', 0x409E23EF8DE01DEF51C14C14298E15F8DB8D0C05F7582A86ED62617C105CFFD00F81779818E7D3FD73DAF9D4BBD614F09AACBA7DC44EA4A62C858705CBDEEF05, 0xD7E9E9F3DEC75D652A8C5B641CB056B7DB352A331538D62D7C334CE511843D3269078E6743346539CCF0A1D0F5714EBA2529B8E939A125F3DDB9480FDD5E4D1D97950D2073A8D3E3E668392DE72A8E777F98997B874C11F3AE174D45C148F19B55C82D9CE085D075472149D439C57165D5F7E0A113F88E665E5BD4477B986995, N'Client', 0, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CustomerAddresses_UserID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAddresses_UserID] ON [dbo].[CustomerAddresses]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventories_BranchID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventories_BranchID] ON [dbo].[Inventories]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menus_BranchID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Menus_BranchID] ON [dbo].[Menus]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_MenuItemID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_MenuItemID] ON [dbo].[OrderDetails]
(
	[MenuItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_AddressID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_AddressID] ON [dbo].[Orders]
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_BranchID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_BranchID] ON [dbo].[Orders]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 6/8/2026 6:59:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((0)) FOR [Building]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((0)) FOR [Floor]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((0)) FOR [Appartment]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [Profit]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalProfit]
GO
ALTER TABLE [dbo].[OrdersForDeliverys] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[OrdersForDeliverys] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Verified]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Users_UserID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_EmployeeID]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Branches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Branches_BranchID]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Menus] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[Menus] ([MenuItemID])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Menus]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menu_Categories]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Branches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Branches_BranchID]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Menus_MenuItemID] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[Menus] ([MenuItemID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Menus_MenuItemID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Branches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Branches_BranchID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CustomerAddresses_AddressID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[CustomerAddresses] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CustomerAddresses_AddressID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CustomerID]
GO
ALTER TABLE [dbo].[OrdersForDeliverys]  WITH CHECK ADD  CONSTRAINT [FK_OrdersForDelivery_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[CustomerAddresses] ([AddressID])
GO
ALTER TABLE [dbo].[OrdersForDeliverys] CHECK CONSTRAINT [FK_OrdersForDelivery_Address]
GO
ALTER TABLE [dbo].[OrdersForDeliverys]  WITH CHECK ADD  CONSTRAINT [FK_OrdersForDelivery_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrdersForDeliverys] CHECK CONSTRAINT [FK_OrdersForDelivery_Employee]
GO
ALTER TABLE [dbo].[OrdersForDeliverys]  WITH CHECK ADD  CONSTRAINT [FK_OrdersForDelivery_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrdersForDeliverys] CHECK CONSTRAINT [FK_OrdersForDelivery_Order]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_Tables_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_Tables_Branches]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Branches]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Closed' OR [Status]='Open'))
GO
USE [master]
GO
