<div class="sidebar-wrapper">

  @if(item.navCap){
    <div class="nav-caption">
      {{ item.navCap }}
    </div>
  }

  @if(!item.navCap && !item.external) {

  <a mat-list-item
     (click)="onItemSelected(item)"
     class="menu-list-item"
     [ngClass]="{
        activeMenu: item.route ? router.isActive(item.route, true) : false,
        expanded: expanded,
        disabled: item.disabled
     }">

    <i-tabler
      class="routeIcon"
      [name]="item.iconName ?? ''"
      matListItemIcon>
    </i-tabler>

    <span class="hide-menu">
      {{ item.displayName | translate }}
    </span>

    @if(item.children && item.children.length) {
      <span class="arrow-icon">

        @if(item.chip) {
          <span class="item-chip">
            {{ item.chipContent }}
          </span>
        }

        <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
          expand_more
        </mat-icon>

      </span>
    }

  </a>

  }

  @if(!item.navCap && item.external) {

  <mat-list-item
    (click)="openExternalLink(item.route)"
    class="menu-list-item">

    <i-tabler
      class="routeIcon"
      [name]="item.iconName ?? ''"
      matListItemIcon>
    </i-tabler>

    <span class="hide-menu">
      {{ item.displayName }}
    </span>

  </mat-list-item>

  }

  @if(expanded) {
    <div class="children-wrapper">
      @for(child of item.children; track child) {
        <app-nav-item
          [item]="child"
          [depth]="depth + 1">
        </app-nav-item>
      }
    </div>
  }

</div>